<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ghanashyam</title>
	<link rel="stylesheet" href="main.css">
	
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap" rel="stylesheet">
<script src="main.js"></script>
</head>
<body>
<div class="menubar">
	<ul>
		<li class="menues"><a href="/">Home</a></li>
		<li class="menues"><a href="/about">Freelancing</a></li>
		<li class="menues"><a href="/contact">Contact</a></li>
	</ul>
</div>