<%- include("partials/header") %>
<div class="main">
	<div id="first" class="inline"><img src="ghana.jpeg" alt="profile_pic"></div>
	<div class="inline" id="second">
	<h1>Ghasnashyam Pande</h1>
	<div id="content">
	<p><strong>IT Manager</strong></p>
	<p><strong>Web Developer</strong></p>
	<p><strong>Stack :</strong> Node Js, Express, Mongo DB</p>
	<p><strong>Webdesign :</strong> HTML, CSS, Bootstrap, Javascript</p>
	</div>
	</div>
</div><br>

<div>
	<blockquote><strong>
		"It has been now Ten Years that I have been working in the IT Field and handling the responsibilities of IT Manager. I love to develop the imagination of people. </strong></blockquote>
<blockquote><strong>It is challenging to get what people need but at the same time, it teaches me a lot and makes me happy."</strong></blockquote>
</div><br>

<div class="projectwork">
<p><strong>How do I work on any project?</strong></p>
<ol>
<li>Talk about the requirements and understand the output</li>
<li>Create flow charts if needed</li>
<li>Finalize the Front End which contains</li>
<ul class="subitems">
	<li>Color: Main Color, Text Color</li>
	<li>Framework: CSS Only/Bootstrap</li>
	<li>Images and icons</li>
	<li>Content / Messages</li>
	<li>Input filed designs / Forms</li>
</ul>

<li>FIlalizing the Back End</li>
<ul class="subitems">
	<li>Database</li>
	<li>BackEnd architecture</li>
	<li>Designing REST API</li>
	<li>CRUD Operation</li>
</ul>
<li>Demonstration and Review</li>
<li>Demonstration and Steps toward finalizing the app/website</li>
<li>Hosting the website and hand over the SRS documents</li>
</ol>
</div>	



<%- include("partials/footer") %>
